<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<context:component-scan base-package="com.xinchao.tech.**"  />-->

    <dubbo:application name="sspop" >
        <dubbo:parameter key="qos.enable" value="false"></dubbo:parameter>
    </dubbo:application>

    <dubbo:provider timeout="5000" />

    <dubbo:registry id="registry" address="zookeeper://10.10.10.23:8181?backup=10.10.10.23:8182,10.10.10.23:8183"/>
    <dubbo:protocol id="protocol" name="dubbo"  host="0.0.0.0"  port="20881" />



    <dubbo:service interface="com.xinchao.tech.xinchaoad.common.api.base.UserService" ref="userService" version="1.0.0"/>
    <dubbo:service interface="com.xinchao.tech.xinchaoad.common.api.base.DictService" ref="dictService" version="1.0.0"/>
    <dubbo:service interface="com.xinchao.tech.xinchaoad.common.api.zone.ZoneService" ref="zoneService" version="1.0.0" />
    <dubbo:service interface="com.xinchao.tech.xinchaoad.common.api.auth.AuthService" ref="authService" version="1.0.0"/>
    <dubbo:service interface="com.xinchao.tech.xinchaoad.common.api.base.OrganizationService" ref="organizationService" version="1.0.0"/>

    <!-- ssp 调取服务 -->
    <dubbo:reference id="adPositionService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.AdPositionService" version="1.0.0" check="false"/>
    <dubbo:reference id="buildingService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.BlockService" version="1.0.0" check="false"/>
    <dubbo:reference id="buildInfoService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.BuildInfoService" version="1.0.0" check="false"/>
    <dubbo:reference id="deviceInfoService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.DeviceInfoService" version="1.0.0" check="false"/>
    <dubbo:reference id="elevatorService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.ElevatorService" version="1.0.0" check="false"/>
    <dubbo:reference id="floorService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.FloorService" version="1.0.0" check="false"/>
    <dubbo:reference id="tagInfoService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.TagInfoService" version="1.0.0" check="false"/>
    <dubbo:reference id="unitService" interface="com.xinchao.tech.xinchaoad.common.api.ssp.UnitService" version="1.0.0"  check="false"/>



</beans>
